background: #d0e4f5 url("https://htmlcheatsheet.com/images/logo-css.png")
  no-repeat scroll 0 0;

.myButton {
  color: rgb(255, 255, 251);
  font-size: 16px;
  line-height: 16px;
  padding: 16px;
  border-radius: 23px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(28, 110, 164) 0%,
    rgb(35, 136, 203) 43%,
    rgb(20, 78, 117) 100%
  );
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}
.myButton:hover {
  background: #1c6ea4;
}
.myButton:active {
  background: #144e75;
}
